@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,900");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {

    --font-size-xs: 11px;
    --font-size-s: 15px;
    --font-size-m: 20px;
    --font-size-l: 40px;
    --font-family: 'Quicksand', sans-serif;

    /* CSS HEX */
    --midnight-violet: #19113cff;
    --spanish-violet: #482875ff;
    --light-purple: #904deaff;
    --dark-orchid: #a044d9ff;
    --medium-orchid: #b551e4ff;
    --golden-yellow: #fdc500ff;
    --web-golden-yellow: #ffd500ff;

    --white: #ffffff;
    --cultured: #efefefff;
    --light-cultured: #f6f6f6ff;

    --black: #0a0a0a;
    --dim-gray: #686868;

}

body{
    height: 100%;
    margin: 10px;
    background-color: var(--light-cultured) !important;
    font-family: var(--font-family);
}

.navbar{
    background-color: var(--light-cultured) !important;
    color: var(--midnight-violet) !important;
    box-shadow: none !important;
}

.normal-style{
    background-color: var(--light-cultured) !important;
    color: var(--black) !important;
}

.active{
    font-weight: bold !important;
}

.border-top{
    border-color: var(--cultured) !important;
}

.border-bottom{
    border-color: var(--light-cultured) !important;
}

@media (max-width: 500px) {
    .content-box{
        padding: 2em !important;
        padding-top: 5em !important;
        padding-bottom: 5em !important;
        height: 100%;
        width: 100%;
    }

    .footer{
        padding: 0.5em !important;
        padding-bottom: 0!important;
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 501px) {
    .content-box{
        padding: 2em !important;
        padding-top: 5em !important;
        padding-bottom: 6em !important;
        height: 100%;
        width: 100%;
    }

    .content-box-small{
        padding: 0.5em !important;
        padding-bottom: 0!important;
        height: 100%;
        width: 100%;
    }
}

#cookie-banner {
    color: var(--midnight-violet) !important;
    background-color: var(--light-cultured) !important;
    opacity: 100% !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10000;
    width: 95%;
    border-color: var(--spanish-violet) !important;
}

@media screen and (min-width: 480px) {
    #cookie-banner  {
        width: 60%;
    }
}

.btn-violet{
    color: var(--light-cultured) !important; ;
    background-color: var(--spanish-violet) !important;
    border-color: var(--spanish-violet) !important;
    box-shadow: var(--light-purple);
}

.bi-envelope{
    color: var(--spanish-violet) !important;
}

.hide{
    display: none;
}

.active{
    color: var(--spanish-violet)!important;
    font-weight: bold !important;
}

.tw-footer{
    background-color: var(--light-cultured) !important;
    padding: 3em!important;
    padding-bottom: 0!important;
    padding-top: 1em!important;
}

.active{
    background-color: var(--cultured) !important;
    color: var(--spanish-violet) !important;
}

.tab-pane{
    background-color: var(--light-cultured) !important;
}

.nav-link{
    color: var(--dim-gray) !important;
}