@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,900");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {

    --font-size-xs: 11px;
    --font-size-s: 15px;
    --font-size-m: 20px;
    --font-size-l: 40px;
    --quicksand: 'Quicksand', sans-serif;
    --roboto: 'Roboto', sans-serif;


    /* CSS HEX */
    --midnight-violet: #19113cff;
    --spanish-violet: #482875ff;
    --light-purple: #904deaff;
    --dark-orchid: #a044d9ff;
    --medium-orchid: #b551e4ff;
    --golden-yellow: #fdc500ff;
    --web-golden-yellow: #ffd500ff;

    --white: #ffffff;
    --cultured: #efefefff;
    --light-cultured: #f6f6f6ff;

    --black: #0a0a0a;
    --dim-gray: #686868;

}

body{
    height: 100%;
    margin: 10px;
    background-color: var(--light-cultured) !important;
    font-family: var(--quicksand);
}

.navbar{
    background-color: var(--light-cultured) !important;
    color: var(--midnight-violet) !important;
    box-shadow: none !important;
}

.normal-style{
    background-color: var(--light-cultured) !important;
    color: var(--black) !important;
}

.active{
    font-weight: bold !important;
}

.border-top{
    border-color: var(--cultured) !important;
}

.border-bottom{
    border-color: var(--light-cultured) !important;
}

@media (max-width: 500px) {
    .content-box{
        padding: 3em !important;
        height: 100%;
        width: 100%;
    }

    .footer{
        padding: 0.5em !important;
        padding-bottom: 0!important;
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 501px) {
    .content-box{
        padding: 3em !important;
        height: 100%;
        width: 100%;
    }

    .content-box-small{
        padding: 0.5em !important;
        padding-bottom: 0!important;
        height: 100%;
        width: 100%;
    }
}

#cookie-banner {
    color: var(--midnight-violet) !important;
    background-color: var(--light-cultured) !important;
    opacity: 100% !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10000;
    width: 95%;
    border-color: var(--spanish-violet) !important;
}

@media screen and (min-width: 480px) {
    #cookie-banner  {
        width: 60%;
    }
}

.btn-violet{
    color: var(--light-cultured) !important; ;
    background-color: var(--spanish-violet) !important;
    border-color: var(--spanish-violet) !important;
    box-shadow: var(--light-purple);
}

.bi-envelope{
    color: var(--spanish-violet) !important;
}

.hide{
    display: none;
}

.active{
    color: var(--spanish-violet)!important;
    font-weight: bold !important;
}

.tw-footer{
    background-color: var(--light-cultured) !important;
    padding: 3em!important;
    padding-bottom: 0!important;
    padding-top: 1em!important;
}

.active{
    background-color: var(--cultured) !important;
    color: var(--spanish-violet) !important;
}

.tab-pane{
    background-color: var(--light-cultured) !important;
}

.nav-link{
    color: var(--dim-gray) !important;
}

.btn-primary{
    background-color: var(--spanish-violet) !important;
    color: var(--light-cultured) !important;
    border-color: var(--spanish-violet) !important;
}

section01 {
    position: relative;
    width: 90%;
    height: 100%;
}

section02 {
    position: relative;
    width: 90%;
    height: 100%;
}

/*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 */

@media (min-width: @screen-sm-min) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: @screen-md-min) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: @screen-lg-min) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

.container-fluid{
    padding-left: 10em  !important;
}

h4{
    font-size: var(--font-size-m);
    font-weight: bold;
    color: var(--spanish-violet)
}

h5{
    font-size: var(--font-size-m);
    font-weight: normal;
    color: var(--black)
}

p{
    font-family: var(--roboto);
    color: var(--black);
    font-weight: normal;
}

h1{
    font-weight: bold;
    color: var(--spanish-violet)
}

h3{
    font-weight: bold;
    color: var(--spanish-violet)
}

a{
    color: var(--light-purple) !important;
}

ul{
    font-family: var(--roboto);
    color: var(--black);
    font-weight: normal;
}